.profile__author-job {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 335px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 767px) {
  .profile__author-job {
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
  }
}