.popup__message {
    min-width: 358px;
    margin: 32px 36px 60px;
    color: black;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .popup__message {
        min-width: 244px;
        font-size: 20px;
        line-height: 24px;
        margin: 40px 18px 50px;
    }
}